<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server 2</title>
</head>
<body>
    <h1>Localhost de Server 2</h1>

    <button id="boton">Recibir Texto</button>

    <div id="contenedor"></div>

    <script>
        let boton = document.querySelector('#boton');
        let contenedor = document.querySelector('#contenedor');

        boton.addEventListener('click', () => {
            fetch('http://localhost:3001/access')
                .then(response => response.text())
                .then(data => {
                
                    contenedor.innerHTML = data;
                })
                .catch(error => {
                    //console.error(error);
                });
        });
    </script>
</body>
</html>